# 默认排除全部，仅放行运行所需文件
**/*

# 保留扩展运行产物与资源
!out/**
!resources/**
!node_modules/overlayscrollbars/browser/overlayscrollbars.browser.es6.js
!node_modules/overlayscrollbars/styles/overlayscrollbars.css

# 保留扩展清单与说明文件
!package.json
!README.md
!CHANGELOG.md
!LICENSE
